<div class="container-fluid hero-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-15">
                <div class="hero-header-inner animated zoomIn">
                    <p class="fs-4 text-dark" style="direction: rtl; text-align: center; ">بسم الله الرحمان الرحيم</p>
                    <h1 class="display-1 mb-5 text-dark" style="font-size: 3.5rem; direction: rtl; text-align: center;">"لَقَدْ كَانَ لَكُمْ فِي رَسُولِ اللَّهِ أُسْوَةٌ حَسَنَةٌ لِمَنْ كَانَ يَرْجُو اللَّهَ وَالْيَوْمَ الْآخِرَ وَذَكَرَ اللَّهَ كَثِيرًا"</h1>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
        


  <div class="container-fluid activities py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
           
            <h2 class="display-3"> اذكار الصباح</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                  
                    <div class="ms-4">
                        <h4 style="direction: rtl; text-align: right;"> دعاء الرضا والتوكل على الله</h4>
                        <p class="mb-4"style="direction: rtl; text-align: right;"> "رَضِيتُ بِاللَّهِ رَبًّا، وَبِالْإِسْلَامِ دِينًا، وَبِمُحَمَّدٍ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ نَبِيًّا."
                            (ثلاث مرات - رواه أبو داود)</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
              
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;" >دعاء البركة والتيسير </h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">"اللَّهُمَّ افْتَحْ لِي أَبْوَابَ رَحْمَتِكَ، وَيَسِّرْ لِي أُمُورِي، وَبَارِكْ لِي فِي رِزْقِي وَعَمَلِي."
                        (دعاء مأثور)</p>
                    
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                
                   
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;">  الدعاء الشامل للطمأنينة</h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">"اللَّهُمَّ عَافِنِي فِي بَدَنِي، اللَّهُمَّ عَافِنِي فِي سَمْعِي، اللَّهُمَّ عَافِنِي فِي بَصَرِي، لَا إِلَهَ إِلَّا أَنْتَ، اللَّهُمَّ إِنِّي أَعُوذُ بِكَ مِنَ الْكُفْرِ وَالْفَقْرِ، وَأَعُوذُ بِكَ مِنْ عَذَابِ الْقَبْرِ، لَا إِلَهَ إِلَّا أَنْتَ."
                        (ثلاث مرات - رواه أبو داود)</p>
                     
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>



























<div class="container-fluid activities py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
           
            <h2 class="display-3">اذكار المساء</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                  
                    <div class="ms-4">
                        <h4 style="direction: rtl; text-align: right;"> دعاء التسليم والتوكل</h4>
                        <p class="mb-4"style="direction: rtl; text-align: right;">"أَمْسَيْنَا وَأَمْسَى الْمُلْكُ لِلَّهِ، وَالْحَمْدُ لِلَّهِ، لَا إِلَهَ إِلَّا اللَّهُ وَحْدَهُ لَا شَرِيكَ لَهُ، لَهُ الْمُلْكُ وَلَهُ الْحَمْدُ، وَهُوَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ. رَبِّ أَسْأَلُكَ خَيْرَ مَا فِي هَذِهِ اللَّيْلَةِ وَخَيْرَ مَا بَعْدَهَا، وَأَعُوذُ بِكَ مِنْ شَرِّ مَا فِي هَذِهِ اللَّيْلَةِ وَشَرِّ مَا بَعْدَهَا، رَبِّ أَعُوذُ بِكَ مِنَ الْكَسَلِ وَسُوءِ الْكِبَرِ، رَبِّ أَعُوذُ بِكَ مِنْ عَذَابٍ فِي النَّارِ وَعَذَابٍ فِي الْقَبْرِ."
                            (رواه مسلم)</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
              
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;" >آية الكرسي </h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">"اللَّهُ لَا إِلَٰهَ إِلَّا هُوَ الْحَيُّ الْقَيُّومُ..."
                        (سورة البقرة: 255)
                        من قرأها في المساء لم يزل عليه من الله حافظ، ولا يقربه شيطان حتى يصبح. (صحيح البخاري)</p>
                    
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                
                   
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;"> دعاء طلب الحماية</h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">"بِاسْمِ اللَّهِ الَّذِي لَا يَضُرُّ مَعَ اسْمِهِ شَيْءٌ فِي الْأَرْضِ وَلَا فِي السَّمَاءِ وَهُوَ السَّمِيعُ الْعَلِيمُ."
                        (ثلاث مرات - رواه أبو داود)</p>
                     
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>





































<div class="container-fluid activities py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
           
            <h2 class="display-3">ادعية الاستغفار</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                  
                    <div class="ms-4">
                        <h4 style="direction: rtl; text-align: right;"> سيد الاستغفار</h4>
                        <p class="mb-4"style="direction: rtl; text-align: right;">"اللَّهُمَّ أَنْتَ رَبِّي، لَا إِلَهَ إِلَّا أَنْتَ، خَلَقْتَنِي وَأَنَا عَبْدُكَ، وَأَنَا عَلَى عَهْدِكَ وَوَعْدِكَ مَا اسْتَطَعْتُ، أَعُوذُ بِكَ مِنْ شَرِّ مَا صَنَعْتُ، أَبُوءُ لَكَ بِنِعْمَتِكَ عَلَيَّ، وَأَبُوءُ بِذَنْبِي، فَاغْفِرْ لِي، فَإِنَّهُ لَا يَغْفِرُ الذُّنُوبَ إِلَّا أَنْتَ."
                            (رواه البخاري)</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
              
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;" >استغفار النبي صلى الله عليه وسلم </h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">"أَسْتَغْفِرُ اللَّهَ وَأَتُوبُ إِلَيْهِ."
                        (رواه البخاري)</p>
                    
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                
                   
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;">دعاء التوبة والاستغفار </h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;"> "اللَّهُمَّ اغْفِرْ لِي خَطَئِي وَجَهْلِي، وَإِسْرَافِي فِي أَمْرِي، وَمَا أَنْتَ أَعْلَمُ بِهِ مِنِّي. اللَّهُمَّ اغْفِرْ لِي جِدِّي وَهَزْلِي، وَخَطَئِي وَعَمْدِي، وَكُلُّ ذَلِكَ عِنْدِي."
                        (رواه البخاري)</p>
                     
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>












































<div class="container-fluid activities py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
           
            <h2 class="display-3">فضل الصلاة على النبي</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                  
                    <div class="ms-4">
                        <h4 style="direction: rtl; text-align: right;">مغفرة الذنوب وكفاية الهموم</h4>
                        <p class="mb-4"style="direction: rtl; text-align: right;">قال النبي صلى الله عليه وسلم:
                            "من صلى عليَّ واحدةً صلى الله عليه بها عشرًا."
                            (رواه مسلم)</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
              
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;" >الشفاعة يوم القيامة</h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">قال النبي صلى الله عليه وسلم:
                        "أولى الناس بي يوم القيامة أكثرهم عليَّ صلاة."
                        (رواه الترمذي)</p>
                    
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                
                   
                    <div class="ms-4">
                      <h4 style="direction: rtl; text-align: right;">رفع الدرجات وحصول البركة </h4>
                      <p class="mb-4" style="direction: rtl; text-align: right;">قال صلى الله عليه وسلم:
                        "من صلى عليَّ صلاة واحدة صلى الله عليه عشر صلوات، وحطَّ عنه عشر خطيئات، ورفع له عشر درجات."
                        (رواه النسائي)</p>
                     
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>


  