
.prayer-card {
    background-color: #F0C052; 
    border-radius: 12px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;                 
    max-width: 350px;          
    margin: 0 auto;            
    padding: 20px;
    text-align: center;         
  }
  
  
  .prayer-card-header {
    background-color: #f7c12d;  
    border-radius: 8px;
    padding: 10px;
    color: white;
  }
  
  .prayer-card-header h5 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  

  .prayer-card-body {
    padding-top: 15px;
  }
  
  
  .prayer-time-box {
    background-color: white;    
    padding: 15px;            
    border-radius: 8px;       
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px;       
    text-align: center;          
    font-size: 18px;           
    color: #000000;               
  }
  
  
  .prayer-time-box span {
    font-weight: bold;
    color: #555;              
  }
  

  @media (max-width: 768px) {
    .prayer-card {
      max-width: 90%; 
    }
  }
  



  
.governorate-select-container {
    max-width: 500px;      
    width: 100%;           
    margin: 20px auto;     
    text-align: center;    
  }
  

  .governorate-select-container label {
    display: block;       
    font-size: 18px;       
    color: #333;        
    margin-bottom: 10px;   
  }
  
 
  .governorate-select-container select {
    font-size: 18px;              
    padding: 15px 20px;           
    background-color: #fff;       
    border: 2px solid #f7c12d;   
    border-radius: 8px;            
    width: 100%;                 
    max-width: 400px;            
    margin: 0 auto;             
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;    
  }
  
 
  .governorate-select-container select:focus {
    outline: none;                
    border-color: #f8d847;       
    box-shadow: 0 0 8px rgba(255, 203, 47, 0.6); 
  }
  




