<div class="container-fluid hero-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-15">
                <div class="hero-header-inner animated zoomIn">
                    <p class="fs-4 text-dark" style="direction: rtl; text-align: center;">مرحبًا بكم في تطبيقنا الإسلامي</p>
                    <h1 class="display-1 mb-5 text-dark" style="direction: rtl; text-align: center;">نحن هنا لنقدم لكم كل ما تحتاجونه لتقوية إيمانكم ومعرفتكم الإسلامية</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- About Satrt -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 mb-5">
            <div class="col-xl-6">
                <div class="row g-4">
                    <div class="col-6">
                        <img src="img/about-1.jpg" class="img-fluid h-100 wow zoomIn" data-wow-delay="0.1s" alt="">
                    </div>
                    <div class="col-6">
                        <img src="img/about-2.jpg" class="img-fluid pb-3 wow zoomIn" data-wow-delay="0.1s" alt="">
                        <img src="img/about-3.jpg" class="img-fluid pt-3 wow zoomIn" data-wow-delay="0.1s" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-14 wow fadeIn" data-wow-delay="0.5s" style="direction: rtl; text-align: center;">
                <p class="fs-5 text-uppercase text-primary">أوقات الصلاة حسب موقعك الجغرافي</p>
                <h1 class="display-5 pb-4 m-0">تابع أوقات الصلاة اليومية لتكون دائمًا في الوقت المناسب لأداء الفرائض</h1>
                <p class="pb-4">حافظ على صلاتك، فهي نورٌ في الدنيا ونجاةٌ في الآخرة</p>


            </div>
        </div>
        <div class="container text-center bg-primary py-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row g-4 align-items-center">
                <div class="col-lg-2">
                    <i class="fa fa-mosque fa-5x text-white"></i>
                </div>
                <div class="col-lg-10 text-center text-lg-start">
                    <h1 class="mb-0">قال رسول الله ﷺ: (إنَّ أَوَّلَ ما يُحَاسَبُ بِهِ العَبْدُ يَومَ القِيامَةِ الصَّلَاةُ)</h1>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Activities Start -->
<div class="container-fluid activities py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <p class="fs-5 text-uppercase text-primary">اكتشف أنشطتنا</p>
            <h2 class="display-3"> استمتعوا برحلة إيمانية وتعليمية ممتعة معنا
          </h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-mosque fa-4x text-dark"></i>
                    <div class="ms-4">
                        <h4>أوقات الصلاة</h4>
                        <p class="mb-4">  لا تفوت أبدًا وقت الصلاة. تحقق من أوقات الصلاة اليومية واستعد لأداء الفريضة في وقتها، حيث تذكرك الصلاة وتجعلك أقرب إلى الله</p>
                        <a href="" class="btn btn-primary px-3">اقرا المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-quran fa-4x text-dark"></i>
                    <div class="ms-4">
                      <h4>تلاوة القرآن</h4>
                      <p class="mb-4">استمتع بتلاوة آيات القرآن الكريم بصوت عذب وهادئ، ليكون القرآن رفيقًا لك في كل وقت ومكان، ويمنح قلبك سكينة وإيمان</p>
                      <a href="" class="btn btn-primary px-3">اقرا المزيد</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-book fa-4x text-dark"></i>
                   
                    <div class="ms-4">
                      <h4>احاديث و سنة</h4>
                      <p class="mb-4">اكتشف حكمًا ونصائح من السنة النبوية الشريفة وكلمات ترفع من معنوياتك وتضيف الحكمة لحياتك. تواصل مع إرثك الروحي وتعلم من تعاليم نبينا محمد ﷺ</p>
                      <a href="" class="btn btn-primary px-3">اقرا المزيد</a>
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>
