&nbsp;
&nbsp;


<div class="container"><div class="acknowledgment">
    
    <p>الحمد لله الذي وفقني لإتمام هذا العمل، والذي هو من أعمالي انا المهندس التونسي اسكندر بلحاج عمر. أذكر في هذا المقام أنه صدقة جارية لي ولعائلتي، ولأمواتي وأموات المسلمين، وأسأل الله العلي العظيم أن يتقبل هذا العمل ويجعل ثوابه في ميزان حسناتنا جميعًا. كما أرجو من الله أن يبارك في هذه الجهود ويجعلها نافعة لي ولمن ساهم في إنجاز هذا المشروع.</p>
    <p>لا أستطيع أن أنسى أن أشكر كل من ساهم في نشر هذا العمل أو في دعم تطويره بأي شكل من الأشكال. إن كل من ساعد في الوصول به إلى هذا المستوى هو شريك في الأجر والثواب. أسأل الله أن يثيبهم جميعًا، ويجعل عملهم هذا في ميزان حسناتهم يوم القيامة.</p>
    <p>كما أدعو لكل من استخدم هذه التطبيق، سواء كان في تعلم القرآن الكريم أو في أي مجال آخر. إن هذا العمل ما هو إلا وسيلة لطلب العلم والعمل الصالح، وأسأل الله أن ينفع به الجميع وأن يجعل من استخدامه وسيلة لتقوية الإيمان وزيادة الحسنات. اللهم اجعل هذا العمل صدقة جارية للجميع، وأجرنا في الدنيا والآخرة.</p>
    <p>أسأل الله أن يبارك في أعمالنا جميعًا، وأن يوفقنا لما يحب ويرضى، وأن يتقبل منا ومنكم صالح الأعمال. آمين.</p>
  </div></div>

  