.container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 100vh;
    background-color: #ffffff;
    padding-bottom: 50px; 
    margin-top: 3%;
  }
  
  .acknowledgment {
    direction: rtl; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.2em; 
    line-height: 1.6; 
    margin: 20px; 
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .acknowledgment p {
    margin-bottom: 15px; 
  }
